/* OVERALL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Better Practice using this pseudo? */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: gray;
}

.wrap {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* FOOTER STYLES (margin-top:auto to keep footer at bottom */
.footer {
  margin-top: auto;
  /* display: flex;
  justify-content: space-between; */
}
.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}
.footer ul li:hover {
  background-color: lightgray;
}

.contact {
  font-size: 30px;
  margin: 0 0.23em;
}

/* FOOTER STYLES END */
