:root {
   --light-blue: #add8e6;
   --light-gray: #d3d3d3;
   --gray: #808080;
   --navy-blue: #000080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family:'Segoe UI', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif

}


/* HEADER/NAV STYLES */

header {
    padding: 20px 35px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
}
header h1, ::selection{
    background-color: var(--light-blue);
    font-size: 60px;
}

header nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
header a {
    color: var(--navy-blue);
    text-decoration:underline;
    text-decoration-thickness: 15%;
}

li {
    text-align: -webkit-match-parent;
}

h1 {
    color: var(--light-blue);
}

ul {
    display: flex;
}

.bio {
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 100px auto;
    padding-bottom: 50px;
    font-family: 'Segoe UI', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;

}
.bio h2 {
    font-size: 50px;
    flex: 0 40%;
    padding: 20px;
 
}

.bio p {
font-family: 'Segoe UI', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
font-size: 20px;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
text-size-adjust: 80%;
padding: 20px;
margin: 5px 0 15px 0;
}




footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}